RewriteEngine On

# Si el archivo o directorio solicitado no existe, redirigir todo a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Definir el archivo de índice para directorios
DirectoryIndex index.php index.html